@import 'variables';

body
{
  background-color: $bg-color;
  color: $text-color;
  font: 100% $font;
  user-select: none;
}

.movie-list-header
{
  font-size: 1.8rem;
  padding: 5px 25px;
  margin-top: 20px;
  text-shadow: 0 0 4px $secondary;
  text-align: center;
}

.movie-info
{
  margin: 30px auto;
  padding: 40px 10px;
  font-size: 1.3rem;
  text-align: center;
  background-color: $bg-carousel-primary;
  border-radius: 20px;
  filter: opacity(0.6);
}