@import 'variables';

.carousel
{
  position: relative;
  padding: 0 !important;
  margin: 0 !important;

  &-wrapper 
  {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  &-button 
  {
    background: $bg-carousel-primary;
    border: none;
    color: #fff;
    padding: 10px;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.left 
    {
      left: 15px;
    }
  
    &.right 
    {
      right: 15px;
    }
  }

  &-slide
  {
    margin: 20px 12px; 
    min-width: 220px;
    max-width: 220px;
    height: 330px;
    position: relative;
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-radius: 18px;
    -webkit-box-shadow:  0 0 8px 0 #000;
    -moz-box-shadow:  0 0 8px 0 #000;
    box-shadow: 0 0 6px 5px #000;

    img
    {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .overlay
    {
      position: absolute;
      opacity: 0;
      background-color: $bg-carousel-primary;
      left: 0;
      right: 0;
      font-size: 1.3rem;
      padding: 5px;
      text-align: center;
      transition: all .2s ease-in-out;

      &.title
      {
        bottom: 0;
      }

      &.year
      { 
        top: 0;
      }

      &.button
      {
        background: $bg-carousel-secondary;
        top: 40px;
        cursor: pointer;

        .fa-heart
        {
          font-size: 2rem;
        }

        &:hover
        {
          filter: brightness(1.5);
        }

        &.active 
        {
          opacity: 1; 
        }
      }
    }

    &:hover .overlay.title,
    &:hover .overlay.year,
    &:hover .overlay.button 
    {
      opacity: 1;
    }

    &:hover
    {
      transform: scale(1.04);
    }
  }

  ::-webkit-scrollbar 
  {
    background-color: $bg-color;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb 
  {
    background-color: $bg-carousel-primary;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-button 
  {
    background-color: $bg-color;
  }
}


