@use 'variables' as *;

@import './custom';
@import './carousel';

body
{
  background-color: $bg-color;
  color: $text-color;
  font: 100% $font;
  user-select: none;
}

.movie-list-header
{
  font-size: 1.8rem;
  padding: .4rem 1.5rem;
  margin-top: 1.25rem;
  text-shadow: 0 0 4px $secondary;
  text-align: center;
}

.movie-info
{
  margin: 1.8rem auto;
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: $bg-carousel-primary;
  border-radius: 20px;
  filter: opacity(0.6);
}